<!doctype html>
<html ng-app>

<head>
    <title>Shortly</title>
    <script src='/static/js/angular.min.js'></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>-->

    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src='/static/js/short.url.js'></script>
    <link rel='stylesheet' href='/static/css/style.css'>
</head>

<body>
<div class='container' ng-controller='UrlCtrl'>
    <h1 class='charcoal rounded-box'>Shortly</h1>

    <h2>shorten URL</h2>

    <form>
        <input type='text' class='rounded-box' placeholder='Your original URL here' ng-model='rawURL'>
        <button class='grey rounded-box' ng-click='addURL()' >Shorten URL</button>
    </form>
    <ul class='grey rounded-box' >
        <li ng-repeat='x in records' >
            <span class='checkbox'></span>
        </li>
    </ul>
</div>
</body>
</html>
